.jumbotron-with-background {
    background-image: url(../home/loli.svg);
    background-position: center;
    background-size: cover;
}
.push-spaces
{
    height: 200px;
}
.footer {
    height: 50px;
    margin-top: -50px;
  }
